// COLORS:
//exemple - remove:
$clr-intro-email-su-bg: hsl(217, 28%, 15%);
$clr-main-bg: hsl(218, 28%, 13%);
$clr-footer-bg: hsl(216, 53%, 9%);
$clr-testimonials-bg: hsl(219, 30%, 18%);

$clr-cta-gradient1: #65e2d9;
$clr-cta-gradient2: hsl(198, 60%, 50%);

$clr-link-main: #62e0d9;

$clr-neutral: hsl(0, 0%, 100%);

// VIEW BREAK POINTS:
//exemple-remove:
$mobile-width: 375px;
$desktop-width: 1440px;

//OTHERS:
